<div class="container-fluid main-faq-container">
    <div class="container">
        <div class="faq-container">
            <div class="faq-title">
                Courseflix FAQs
            </div>
            <div class="faq-subtitle">
                The only reseller website where we care about you and there is 100% satisfaction guarantee.            </div>
        </div>
        <div class="row">
            <div class="col-12">

                <div id="accordion" role="tablist"  class="o-accordion">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne"  >
                            <h5 class="mb-0">
                                <a class="collapsed " data-bs-toggle="collapse" data-bs-target="#collapseOne" 
                                    aria-expanded="true" aria-controls="collapseOne">
                                    Who are you? 
                                </a>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show in" role="tabpanel" aria-labelledby="headingOne" >
                            <div class="card-block">
                                We are the leading /top online learning platform on any topic (Game,dating,business,nlp,seduction,sex ,fitness etc) who purchases stuff from original creator and we resell it here the complete updated course with future updates at affordable price here at www.courseflix.io,which would help you to transfrom your lifelong dream into reality and achieve personal and professional goals
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" >
                            <h5 class="mb-0">
                                <a class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                     aria-expanded="false" aria-controls="collapseTwo">
                                     How can I trust you?
                                    </a>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                            <div class="card-block">
                                Let’s be honest there are a lot of scammy resellers and websites who would sell the product for cheap or expensive price and provide you Incomplete stuff with no future updates and steal your payment info but here we care about you, you get proper proof,your doubts are solved  and once you’re satisfied we do the business and I am 100% confident that you won’t be disappointed.At the same time you can see how happy our customers are,checkout the review of people who did business with us below:-<br>

                                Testimonial link: <a src="https://courseflix.io/#tetimonial">testimonial</a>

                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" >
                            <h5 class="mb-0">
                                <a class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                 aria-expanded="false" aria-controls="collapseThree">
                                 Seems totally legit, I am convinced, What payment to you accept?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-bs-parent="#accordion">
                            <div class="card-block">
                                Paypal because it is safe,in extreme case we can do crypto.

                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" >
                            <h5 class="mb-0">
                                <a class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                 aria-expanded="false" aria-controls="collapseFour">
                                 Once the payment has been made how much time will you take to deliver the course? Where will I get it? </a>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-bs-parent="#accordion">
                            <div class="card-block">
                                The course will be delivered within 2 minutes once the payment is done.You will get the course on your gmail in the form of mega link or drive link.
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" >
                            <h5 class="mb-0">
                                <a class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                 aria-expanded="false" aria-controls="collapseFive">
                                 What should I do if I have problem with the purchase I made?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-bs-parent="#accordion">
                            <div class="card-block">
                                Usually there’s no issue but in rare scenario anything happens,you can contact us ‘contact us link here’ and we would surely help you out.

                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix" >
                            <h5 class="mb-0">
                                <a class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                 aria-expanded="false" aria-controls="collapseSix">
                                 You have lots of courses and I am confused can you help me figure out what I need?                                </a>
                            </h5>
                        </div>
                        <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-bs-parent="#accordion">
                            <div class="card-block">
                                Yes! I would love to!After doing business with so many people,I can really help you to pick the best course suitable for you to achieve your goal.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree" data-bs-toggle="collapse"
                            data-bs-target="#collapseSeven" >
                            <h5 class="mb-0">
                                <a class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSeven"
                                 aria-expanded="false" aria-controls="collapseSeven">
                                 Is it legal?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-bs-parent="#accordion">
                            <div class="card-block">
                                Absolutely,CourseFlix is a legal and legitimate platform. We are committed to operating within the boundaries of the law and adhering to ethical business practices. All the courses available on our platform are provided by reputable course providers and instructors who have the necessary rights and permissions to offer their content.

                                We prioritize the quality and legitimacy of the courses we offer to ensure that our learners receive valuable and reliable educational experiences. We work closely with our course providers to ensure that their content meets our stringent standards for authenticity, accuracy, and compliance with copyright laws.
                                
                                Furthermore, we take privacy and data security seriously. We adhere to strict privacy policies and comply with applicable data protection regulations to safeguard the personal information of our users.
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>