<div class="container-fluid main-faq-container">
    <div class="container">
        <div class="faq-container">
            <div class="faq-title">
                Frequently Asked Questions
            </div>
            <div class="faq-subtitle">
                The only reseller website where we care about you and there is 100% satisfaction guarantee.            </div>
        </div>
        <div class="row">
            <div class="col-12">

                <div id="accordion" role="tablist"  class="o-accordion">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne"  >
                            <h5 class="mb-0">
                                <a class="collapsed " data-bs-toggle="collapse" data-bs-target="#collapseOne" 
                                    aria-expanded="true" aria-controls="collapseOne">
                                    Who are you? 
                                </a>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show in" role="tabpanel" aria-labelledby="headingOne" >
                            <div class="card-block">
                                We are the top online learning platform for all aspects of your life, including games, dating, business, NLP, seduction, sex, fitness, and more. We purchase courses directly from the original creators and offer complete, updated courses with future updates at affordable prices on our website. Our mission is to help you transform your lifelong dreams into reality and achieve both personal and professional goals.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" >
                            <h5 class="mb-0">
                                <a class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                     aria-expanded="false" aria-controls="collapseTwo">
                                     How can I trust you?
                                    </a>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                            <div class="card-block">
                                Let's be honest, there are a lot of scammy resellers and websites that lure you into deals which are either very cheap or expensive, providing incomplete content with no future updates and low quality, or even just stealing your payment. We provide proper proof, resolve your doubts, and only engage in business when you are satisfied. I am 100% confident that you won't be disappointed. Meanwhile, you can witness the happiness of our customers. Check out the reviews from people who have done business with us below:-
                                <br>
                                Testimonial link: <a href="#testimonial-section">testimonial</a>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" >
                            <h5 class="mb-0">
                                <a class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                 aria-expanded="false" aria-controls="collapseThree">
                                 Seems totally legit, I am convinced, What payment to you accept?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-bs-parent="#accordion">
                            <div class="card-block">
                                Seems totally legit. We accept PayPal, credit/debit cards, which you can pay through PayPal invoice, and gift cards in rare cases.
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" >
                            <h5 class="mb-0">
                                <a class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                 aria-expanded="false" aria-controls="collapseFour">
                                 Once the payment had been made,how much time will it take for you to deliver the course?Where will I be able to access it?</a>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-bs-parent="#accordion">
                            <div class="card-block">
                                Once the payment is completed, it will take approximately 5 minutes to deliver the course to you. You simply need to provide us with your email, and we will assign you login details. Afterward, you can log in, and the course will be available in your profile.
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" >
                            <h5 class="mb-0">
                                <a class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                 aria-expanded="false" aria-controls="collapseFive">
                                 What should I do if I have problem with the purchase I made?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-bs-parent="#accordion">
                            <div class="card-block">
                                Usually there’s no issue but in rare scenario anything happens,you can <a href="#nine-step-section">Contact Us</a>and we would surely help you out.

                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix" >
                            <h5 class="mb-0">
                                <a class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                 aria-expanded="false" aria-controls="collapseSix">
                                 You have lots of courses and I am confused can you help me figure out what I need?</a>
                            </h5>
                        </div>
                        <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-bs-parent="#accordion">
                            <div class="card-block">
                                Yes, I would love to! After conducting business with numerous people, I can truly assist you in selecting the best course that suits your goal.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree" data-bs-toggle="collapse"
                            data-bs-target="#collapseSeven" >
                            <h5 class="mb-0">
                                <a class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSeven"
                                 aria-expanded="false" aria-controls="collapseSeven">
                                 Is it legal?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-bs-parent="#accordion">
                            <div class="card-block">
                                Absolutely,CourseFlix is a legal and legitimate platform. We are committed to operating within the boundaries of the law and adhering to ethical business practices. All the courses available on our platform are provided by reputable course providers and instructors who have the necessary rights and permissions to offer their content.

                                We prioritize the quality and legitimacy of the courses we offer to ensure that our learners receive valuable and reliable educational experiences. We work closely with our course providers to ensure that their content meets our stringent standards for authenticity, accuracy, and compliance with copyright laws.
                                
                                Furthermore, we take privacy and data security seriously. We adhere to strict privacy policies and comply with applicable data protection regulations to safeguard the personal information of our users.
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>