<!-- Button trigger modal -->
<!-- <button type="button" [hidden]="true" #openModelBtn class="btn btn-primary" data-bs-toggle="modal"
    data-bs-target="#getInTocuhDialogue">
    Auto open dialogue
</button> -->

<!-- Modal -->
<div class="automatic-open-dialogue">
    <div class="modal fade" id="getInTocuhDialogue" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="top-close-btn">
                    <button type="button" #automaticCloseBtn class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close" style="color: white;"></button>
                </div>
                <div class="modal-body">
                    <div class="buy-header">
                        <div class="buy-title">
                            GET THE COURSE NOW                        
                        </div>
                        <div class="buy-subtitle">
                            Get Free Coins With This Course | Act Quickly. </div>
                    </div>
                    <div class="buy-card-container">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                                    <div class="buy-card1">
                                        <a href="https://t.me/CourseGuy65" target="_blank">
                                            <mat-card>
                                                <div class="buy-card-details">
                                                    <div class="buy-icon">
                                                        <i class="fa fa-telegram"></i>
                                                    </div>
                                                    <div class="card-title">
                                                        Text us on telegram
                                                    </div>
                                                    <div class="card-subtitle">
                                                        Stay connected with us on Telegram! Reach out to us effortlessly
                                                        and get instant updates, exclusive content, and personalized
                                                        assistance at your fingertips.
                                                    </div>
                                                    <div class="card-contact">
                                                        @CourseGuy65
                                                    </div>
                                                </div>
                                            </mat-card>
                                        </a>
                                    </div>

                                </div>
                                <div class="col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                                    <div class="buy-card2">
                                        <a href="https://www.reddit.com/u/vikki_456?utm_source=share&utm_medium=android_app&utm_name=androidcss&utm_term=3&utm_content=1"
                                            target="_blank">
                                            <mat-card>
                                                <div class="buy-card-details">
                                                    <div class="buy-icon">
                                                        <i class="fa fa-reddit"></i>
                                                    </div>
                                                    <div class="card-title">
                                                        Send us a DM On reditt
                                                    </div>
                                                    <div class="card-subtitle">
                                                        Join our vibrant Reddit community and engage with like-minded
                                                        enthusiasts! Share your thoughts, questions, and experiences
                                                        with us, and let's foster a thriving discussion together.
                                                    </div>
                                                    <div class="card-contact">
                                                        vikki_456
                                                    </div>
                                                </div>
                                            </mat-card>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                                    <div class="buy-card3">
                                        <a href="mailto:courseflixs@gmail.com">
                                            <mat-card>
                                                <div class="buy-card-details">
                                                    <div class="buy-icon">
                                                        <i class="fa fa-envelope-open"></i>
                                                    </div>
                                                    <div class="card-title">
                                                        Send us an email
                                                    </div>
                                                    <div class="card-subtitle">
                                                        Drop us a line and let's start a conversation! Feel free to
                                                        reach out via email, and we'll be delighted to hear from you.
                                                    </div>
                                                    <div class="card-contact">
                                                        courseflixs@gmail.com
                                                    </div>
                                                </div>
                                            </mat-card>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>