<div class="container-fluid page">
  <div class="d-flex  box p-3 mt-2">Course Request</div>
  <div class="content shadow p-3 position-relative">
    <div class="data">
      <!-- To give the operation confirmation Msg -->
      <div class="alert alert-success d-flex align-items-center" role="alert" *ngIf="reqCourseSuccMsg!=undefined">
        <svg style="fill: #042b03;" xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 512 512">
          <path
            d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z" />
        </svg>
        <div class="alert-msg">
          {{reqCourseSuccMsg}}
        </div>
      </div>
      <!-- {{End}} -->
      <table datatable [dtOptions]="dtOptions" class="row-border angular-table hover" *ngIf="getAllCourseReqData">
        <thead>
          <tr>
            <th>User name</th>
            <th>Email</th>
            <th>Author - Name of the course</th>
            <th>Link Page in our site</th>
            <th>Current Status</th>
            <th>Change Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reqCourse of getAllCourseReqData">
            <td>{{reqCourse.user_name}}</td>
            <td>{{reqCourse.email}}</td>
            <td>{{reqCourse.auther_name_of_course}}</td>
            <td>{{reqCourse. ref_course_link}}</td>
            <td>{{reqCourse. status=='0'?'Pending':'Completed'}}</td>
            <td>
              <button mat-button class="change-btn" *ngIf="reqCourse.status=='0'"
                (click)="changeReqStatus(reqCourse._id)">
                <mat-icon>verified</mat-icon> Complete

              </button>
              <button mat-mini-fab class="delete-btn" (click)="openConfirmationDialog(reqCourse._id)">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                  <style>
                    svg {
                      fill: #fafafa
                    }
                  </style>
                  <path
                    d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                </svg>
              </button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>