
.main-blog-container {
    background-color: black;
}

.title-container{
    background-color: #dd3333;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 0rem 0rem 1rem 1rem;
}
.blog-heading{
    font-size: 2rem !important;
    position: relative;
    line-height: 2.5rem;
    font-family: "Roboto Condensed", Helvetica, Arial, Verdana, sans-serif !important;
    color: white !important;
    text-align: center;
    font-weight: bold !important;
}
.blog-heading::before {
    content: "";
    position: absolute;
    bottom: -10px;
    right: 50%;
    transform: translateX(50%);
    width: 5%;
    height: 3px;
    background-color: black;
  }
  .blog-subtitle{
    color: white;
    text-align: center;
    padding: 2rem 0rem !important;
    font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif !important;
    font-size: 1.5rem !important;
    font-weight: 500;
  }
/* Search box css on bolgs page */
.ms-n5 {
    margin-left: -40px;
}

/* blog left-side css */
.category-container{
    background-color: white;
    border-radius: 0.8rem;
    width: 100%;
    margin: 2.5rem 0rem;
    padding: 0rem 1rem;

}
.category-title{
    padding: 1.5rem 0rem;
    font-size: 1.3rem;
    font-family: 'Roboto Slab' !important;
    line-height: 1.8rem;
    font-weight: bold;
    color: #dd3333;
    cursor: pointer;
}

.category-item a{
    font-size: 1rem;
    font-family: "Roboto Condensed", Helvetica, Arial, Verdana, sans-serif !important;
    font-weight: 700;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.top-post-container{
    background-color: white;
    border-radius: 0.8rem;
    width: 100%;
    padding: 0rem 1rem;  
}
.top-post-title{
    padding: 1.5rem 0rem;
    font-size: 1.3rem;
    font-family: 'Roboto Slab' !important;
    line-height: 1.8rem;
    font-weight: bold;
    color: #dd3333;

}
.top-bolg{
    display: flex;
    cursor: pointer;
}
.blog-post-num{
    color: #dd3333;
    font-weight: bold;
    font-family: "Roboto Condensed", Helvetica, Arial, Verdana, sans-serif !important;
    font-size: 2rem;
    margin: auto;
}
.blog-post-title{
    font-size: 1rem;
    font-family: 'Roboto Slab' !important;
    line-height: 1.2rem;
    font-weight: bold;
    padding: 0rem 1rem;
}

.blog-date-cat{
    font-weight: 700;
    font-size: 0.8rem;
    color: rgb(106, 110, 114);
    font-family: "Roboto Condensed", Helvetica, Arial, Verdana, sans-serif !important;
    padding: 0.5rem 0rem;
}
/* blog post css written from here */
.blog-left-container,.blog-right-container{
    margin-top: 3rem;
}
.blog-post-container{
    padding: 0rem 0.5rem;
    margin-bottom: 1.5rem;
}
.blog-post{
    background-color: white;
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.blog-image img{
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
}
.blog-post-details{
    padding: 1rem;
}
.blog-subtitle-cat-date{
    font-weight: 700;
    font-size: 0.8rem;
    color: rgb(106, 110, 114);
    font-family: "Roboto Condensed", Helvetica, Arial, Verdana, sans-serif !important;

}
.blog-title{
    font-size: 1.3rem;
    font-family: 'Roboto Slab' !important;
    line-height: 1.8rem;
    font-weight: bold;
    padding: 0.1rem 0rem;
    color: #dd3333;
    
}
.blog-desc{
    font-family: "Roboto Condensed", Helvetica, Arial, Verdana, sans-serif !important;

}

.my-pagination {
    font-size: 1rem;
    padding: 1rem;
}

.my-pagination ::ng-deep .ngx-pagination a,
.ngx-pagination button {
    text-decoration: none !important;
    color: #e1474d;
}

.my-pagination ::ng-deep .ngx-pagination .current {
    background: #FF3A2D;
    padding: 0.6rem;

}

.my-pagination ::ng-deep .ngx-pagination a,
.ngx-pagination button:hover {
    padding: 0.6rem;

}

/* ==========================================Media  query============================================== */
/* X-Small devices (portrait phones, less than 576px,mobile) */
@media (max-width: 575.98px) {
  

}

/* Small devices (landscape phones, less than 768px,ipad) */
@media (max-width: 767.98px) {
 

 
}

/* Medium devices (tablets, less than 992px,surface pro) */
@media (max-width: 991.98px) {
    .container {
        width: 100%;
        max-width: none;
        margin: 0;
    }
    .blog-post-container{
        padding: 0rem;
    }

}

/* // Large devices (desktops=my laptop, less than 1200px) */
@media (max-width: 1199.98px) {}

/* X-Large devices (large desktops bigger than my laptop, less than 1400px) */
@media (max-width: 1399.98px) {}

/* ==================================={{END}}================================================= */