<div class="container-fluid main-testimo-container" id="testimonial-section">
    <div class="container">
        <div class="tetimo-container">
            <div class="testimo-title">
                TESTIMONIAL

            </div>
            <div class="testo-subtitle">
                Hear from our Customers
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false"
                        data-bs-interval="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active" *ngFor="let tetimo of getAllTetimoData">
                                <img [src]="getAudioVideoURL(tetimo.testimonial_image)"
                                    *ngIf="tetimo.testimonial_identifier=='Image'" class="d-block w-100" alt="...">
                                <video *ngIf="tetimo.testimonial_identifier!='Image'" autoplay muted controls>
                                    class="d-block w-100" loop="true">
                                    <source [src]="getAudioVideoURL(tetimo.testimonial_image)" type="video/mp4">
                                </video>
                            </div>

                        </div>
                        <button class="carousel-control-prev" type="button"
                            data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                            data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>