<div class="container-fluid main-blog-details-container">
    <div class="title-container">
        <div class="blog-detail-title">
            Blog Details
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-9 col-xl-9 col-xxl-9" >
                <div class="left-blogdetails-container">
                    <div class="blog-details">
                        <div class="blog-img">
                            <img [src]="getImageUrl(getSingleBlogDetails?.blog_image)" [alt]="getSingleBlogDetails?.blog_name">
                        </div>
                        <div class="blog-cat-date">
                            <div class="blog-cat">
                               {{getSingleBlogDetails?.category}}
                            </div>
                            <div class="blog-date">
                                {{getSingleBlogDetails?.createdAt | date:'dd/mm/yyyy'}}
                            </div>
                        </div>
                        <div class="blog-title">
                            {{getSingleBlogDetails?.blog_name}}
                        </div>
                        <div class="blog-desc">
                            <angular-editor id="editor1"  [config]="editorConfig" [ngModel]="getSingleBlogDetails?.description"  style="border: none;"></angular-editor>
                        </div>
                        <div class="tags">
                            <div class="tag-title">
                                Tags
                            </div>
                            <div class="tag" *ngFor="let tag of getSingleBlogDetails?.tags">{{tag}}</div>
                        </div>
                        <div class="social-icon">
                            <div class="icon-facebook"><i class="fa fa-facebook-f"></i> Facebook</div>
                            <div class="icon-twitter"><i class="fa fa-twitter"></i> Twitter</div>
                            <div class="icon-instagram"><i class="fa fa-instagram"></i> Instagram</div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3 col-xxl-3" >
                <div class="right-blogdetails-container">
                    <div class="category-container">
                        <div class="category-title">
                            Categories
                        </div>
                        <div class="category-items">
                            <div class="category-item" *ngFor="let cat of getBlogCat">
                                <a [routerLink]="['/blogs',cat?.category_name]">{{cat?.category_name}}</a>
                                <hr>
                            </div>
                           </div>
                    </div>
                    <div class="top-post-container">
                        <div class="top-post-title">
                            Top Posts
                        </div>
                        <div class="top-posts-blog" *ngFor="let topBlog of getTopBlog;let topCounter=index">
                            <div class="top-bolg" (click)="redirectToSamePageURL(topBlog?._id)">
                                <div class="blog-post-num">
                                    {{topCounter+1}}
                                </div>
                                <div class="blog-post-title">
                                    {{topBlog?.blog_name}}
                                    <div class="blog-date-cat">
                                        {{topBlog?.category+" "+(topBlog?.createdAt | date:'dd-MM-yyyy')}}

                                    </div>
                                </div>
                                <hr>
                            </div>
                            
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div>