.pro-main-container {
    background-color: black;

}


.title-container{
    background-color: #dd3333;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 0rem 0rem 1rem 1rem;
}
.pro-heading{
    font-size: 2rem !important;
    position: relative;
    line-height: 2.5rem;
    font-family: "Roboto Condensed", Helvetica, Arial, Verdana, sans-serif !important;
    color: white !important;
    text-align: center;
    font-weight: bold !important;
}
.pro-heading::before {
    content: "";
    position: absolute;
    bottom: -10px;
    right: 50%;
    transform: translateX(50%);
    width: 5%;
    height: 3px;
    background-color: black;
  }
  .pro-subtitle{
    color: white;
    text-align: center;
    padding: 2rem 0rem !important;
    font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif !important;
    font-size: 1.5rem !important;
    font-weight: 500;
  }
.page-subtitle {
    color: white;
    font-size: 1rem;
    padding: 1rem 0rem;
}

.product-item {
    position: relative;
}

.main-pro-image {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.product-image-container {
    padding: 1rem;
}

.product-image-container:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 75%;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(47, 46, 46, 0);
    border-radius: 0.5rem;

}

.product-image-container:hover::before {
    background-color: rgba(100, 100, 100, 0.5);
}

.product-image-container img {
    display: block;
}

.product-image-container .view-pro {
    position: absolute;
    top: 35%;
    left: 40%;
    padding: 0.5rem 1rem 0.2rem 1rem;
    border-radius: 0.4rem;
    background-color: white;
    color: black;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0;
}

.product-image-container .shop-pro {
    position: absolute;
    top: 35%;
    left: 60%;
    padding: 0.5rem 1rem 0.2rem 1rem;
    border-radius: 0.4rem;
    background-color: white;
    color: black;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0;
}

.product-image-container .view-pro:hover {
    background-color: #e1474d;
    color: #eee;
}

.product-image-container .shop-pro:hover {
    background-color: #e1474d;
    color: #eee;
}

.product-image-container a mat-icon {
    font-size: 1.5rem;
}

.product-image-container:hover a {
    opacity: 1;
    vertical-align: middle;
}


.product-details {
    display: inline-flex;
    align-items: center;

}

.product-name a {
    text-decoration: none;
    float: left;
    padding: 2rem 2rem 2rem 0rem;
    color: #ffffff;
    font-size: 1rem;
    text-align: left;
    font-weight: 600;
}

.product-name a:hover {
    color: #e1474d;
}


.price-tag {
    background: #eee;
    color: black;
    font-size: 1rem;

    border-radius: 3px 0 0 3px;
    display: inline-block;
    height: 1.6rem;
    line-height: 26px;
    padding: 0 10px 0 22px;
    position: relative;
    margin: 0 0 10px 0;
    text-decoration: none;
    font-weight: 600;
}

.price-tag::before {
    background: #e1474d;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 13px;
    position: absolute;
    width: 6px;
    top: 10px;
}

.price-tag::after {
    background: black;
    border-bottom: 12px solid transparent;
    border-right: 14px solid #eee;
    border-top: 14px solid transparent;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
}

.price-tag:hover {
    color: #e1474d;
}

.my-pagination {
    font-size: 1.3rem;
    padding: 1rem;
    text-align: end;
}

.my-pagination ::ng-deep .ngx-pagination a,
.ngx-pagination button {
    text-decoration: none !important;
    color: #e1474d;
}

.my-pagination ::ng-deep .ngx-pagination .current {
    background: #FF3A2D;
    padding: 0.6rem;

}

.my-pagination ::ng-deep .ngx-pagination a,
.ngx-pagination button:hover {
    padding: 0.6rem;

}