<div class="container-fluid main-forgotpass-container">
    <div class="title-container">
        <div class="forgotpass-heading">
            <i class="fa fa-key"></i> Forgot Password
        </div>
        <div class="forgotpass-subtitle">Lost your password? Don't worry, we've got you covered. Just follow the steps below to reset your password.
            Available
            Just for You!</div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                  <!-- To give the operation confirmation Msg -->
                  <div class="alert alert-danger d-flex align-items-center" role="alert"
                  *ngIf="forgotErrorMsg!=undefined">
                  <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 512 512">
                      <style>
                          svg {
                              fill: #e61919
                          }
                      </style>
                      <path
                          d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z" />
                  </svg>
                  <div class="alert-msg">
                      {{forgotErrorMsg}}
                  </div>
              </div>

                 <!-- To give the operation confirmation Msg -->
                 <div class="alert alert-success d-flex align-items-center" role="alert"
                 *ngIf="forgotSuccMsg!=undefined">
                 <svg style="fill: #042b03;" xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 512 512">
                     <path
                         d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z" />
                 </svg>
                 <div class="alert-msg">
                     {{forgotSuccMsg}}
                 </div>
             </div>
              <!-- {{End}} -->
                <div class="forgot-container" *ngIf="!token">
                    <div class="title">Forgot Password</div>
                    <form [formGroup]="forgotPassForm" (submit)="sendEmailOnForgot()">
                        <div class="forgot-form">
                            <p>ENTER EMAIL ADRESS*</p>
                            <mat-form-field>
                                <mat-label>Enter your email</mat-label>
                                <input matInput placeholder="Enter your email" formControlName="forgotUserEmail"
                                    required>
                                <mat-error *ngIf="forgotPassForm.get('forgotUserEmail')?.invalid && forgotPassForm.get('forgotUserEmail')?.touched">Enter Valid Email</mat-error>
                            </mat-form-field>
                            <div class="user-forgot-btn">
                                <button type="submit" name="forgot" class="btn btn-danger btn-disabled" [disabled]="forgotPassForm.invalid">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Set new password  -->
                <div class="forgot-container" *ngIf="token">
                    <div class="title">Set New Password</div>
                    <form [formGroup]="setNewPassForm" (submit)="setNewPassword()">
                        <div class="forgot-form">
                            <p>ENTER NEW PASSWORD*</p>
                            <mat-form-field>
                                <mat-label>Enter your password</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" required
                                    formControlName="newPassword">
                                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error>Password should contains 1 number, 1 lowercase,1 capital letter,1 Special
                                    character and minimum length should be 8</mat-error>
                            </mat-form-field>
                            <div class="user-forgot-btn">
                                <button type="submit" name="forgot" class="btn btn-danger btn-disabled" [disabled]="setNewPassForm.invalid">Change Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>