<div class="container-fluid main-offer-container">
<div class="container">
    <div class="main-offer-section">
        <div class="offer-title">
            9 REASON WHY YOU NEED TO&nbsp;<span class="typewriter"></span>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div class="offer-box-red" >
                    <div class="offer-icon">
                        <i class="fa fa-heart icon"></i>
                    </div>
                    <div class="offer-box-title">
                        A structured course tree

                    </div>
                    <div class="offer-box-description">
                        A carefully tailored list of courses for best experience developing your skills in communication and relationship, including only the essentials and skipping the usual theoretical advice.
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div class="offer-box-white" >
                    <div class="offer-icon">
                        <i class="fa fa-heart icon"></i>
                    </div>
                    <div class="offer-box-title">
                        A structured course tree

                    </div>
                    <div class="offer-box-description">
                        A carefully tailored list of courses for best experience developing your skills in communication and relationship, including only the essentials and skipping the usual theoretical advice.
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div class="offer-box-red" >
                    <div class="offer-icon">
                        <i class="fa fa-heart icon"></i>
                    </div>
                    <div class="offer-box-title">
                        A structured course tree

                    </div>
                    <div class="offer-box-description">
                        A carefully tailored list of courses for best experience developing your skills in communication and relationship, including only the essentials and skipping the usual theoretical advice.
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div class="offer-box-white" >
                    <div class="offer-icon">
                        <i class="fa fa-heart icon"></i>
                    </div>
                    <div class="offer-box-title">
                        A structured course tree

                    </div>
                    <div class="offer-box-description">
                        A carefully tailored list of courses for best experience developing your skills in communication and relationship, including only the essentials and skipping the usual theoretical advice.
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div class="offer-box-red" >
                    <div class="offer-icon">
                        <i class="fa fa-heart icon"></i>
                    </div>
                    <div class="offer-box-title">
                        A structured course tree

                    </div>
                    <div class="offer-box-description">
                        A carefully tailored list of courses for best experience developing your skills in communication and relationship, including only the essentials and skipping the usual theoretical advice.
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div class="offer-box-white" >
                    <div class="offer-icon">
                        <i class="fa fa-heart icon"></i>
                    </div>
                    <div class="offer-box-title">
                        A structured course tree

                    </div>
                    <div class="offer-box-description">
                        A carefully tailored list of courses for best experience developing your skills in communication and relationship, including only the essentials and skipping the usual theoretical advice.
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div class="offer-box-red" >
                    <div class="offer-icon">
                        <i class="fa fa-heart icon"></i>
                    </div>
                    <div class="offer-box-title">
                        A structured course tree

                    </div>
                    <div class="offer-box-description">
                        A carefully tailored list of courses for best experience developing your skills in communication and relationship, including only the essentials and skipping the usual theoretical advice.
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div class="offer-box-white" >
                    <div class="offer-icon">
                        <i class="fa fa-heart icon"></i>
                    </div>
                    <div class="offer-box-title">
                        A structured course tree

                    </div>
                    <div class="offer-box-description">
                        A carefully tailored list of courses for best experience developing your skills in communication and relationship, including only the essentials and skipping the usual theoretical advice.
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div class="offer-box-red" >
                    <div class="offer-icon">
                        <i class="fa fa-heart icon"></i>
                    </div>
                    <div class="offer-box-title">
                        A structured course tree

                    </div>
                    <div class="offer-box-description">
                        A carefully tailored list of courses for best experience developing your skills in communication and relationship, including only the essentials and skipping the usual theoretical advice.
                    </div>
                </div>
            </div>

        </div>
       
    </div>
   
</div>
</div>