<div class="container-fluid" style="background-color: black;">
    <div class="row row-1 main-hero">
        <div class="col-lg-1 col-xl-1 col-xxl-1"></div>

        <div class="col-md-6 col-lg-5 col-xl-5 col-xxl-5">

            <div id="carouselExampleInterval" class="carousel slide left-hero" data-bs-ride="carousel">
                <div class="buynow-badge">
                    <p>Buy <br>Now</p>
                </div>
                
                
               
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="1000">
                        <img src="../../../assets/slider1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="../../../assets/slider2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/slider3.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                    <svg xmlns="http://www.w3.org/2000/svg" height="2.2em"
                        viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                        <style>
                            svg {
                                fill: white
                            }
                        </style>
                        <path
                            d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
                    </svg>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                    <svg xmlns="http://www.w3.org/2000/svg" height="2.2em"
                        viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                        <style>
                            svg {
                                fill: white
                            }
                        </style>
                        <path
                            d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
                    </svg>
                </button>
            </div>

        </div>


        <div class="col-md-6 col-lg-4  col-xl-6  col-xxl-4">
            <div class="right-hero">
                <div class="item-text-subtitle">
                    We will help you find the best
                </div>
                <div class="item-text-title">
                    Seduction courses
                </div>
                <div class="item-text-desc">
                    Dating is draining. But it doesn't have to be. We’re not the experts but ordinary people who used to fall in love, break up, make up, get married, struggle in marriage and achieve our freedom. After all, we put all of what were learned into new, improved, transformational courses.

                </div>
                <div class="main-hero-btn">
                    <button class="btn hero-buy-btn">BUY ONLINE</button>

                    <button class="btn hero-about-btn">ABOUT US</button>

                </div>
            </div>
           
        </div>
        <div class="col-lg-2 col-xl-0 col-xxl-2"></div>
    </div>
   <app-recommend-carousel></app-recommend-carousel>
   <app-newcourse-section></app-newcourse-section>
   <app-offer-section></app-offer-section>
   <app-orderstep-section></app-orderstep-section>
   <app-testimonial-section></app-testimonial-section>
</div>