.main-aboutus-container {
    background-color: black;
}

.title-container {
    background-color: #dd3333;
    padding: 6rem;
    margin-bottom: 2rem;
    border-radius: 0rem 0rem 1rem 1rem;
}

.aboutus-heading {
    font-size: 2rem !important;
    position: relative;
    line-height: 2.5rem;
    font-family: "Roboto Condensed", Helvetica, Arial, Verdana, sans-serif !important;
    color: white !important;
    text-align: center;
    font-weight: bold !important;
}

.aboutus-heading mat-icon {
    transform: scale(1.8);
}

.aboutus-heading::before {
    content: "";
    position: absolute;
    bottom: -10px;
    right: 50%;
    transform: translateX(50%);
    width: 5%;
    height: 3px;
    background-color: black;
}

.aboutus-subtitle {
    color: white;
    text-align: center;
    padding: 2rem 0rem !important;
    font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif !important;
    font-size: 1.5rem !important;
    font-weight: 500;
    line-height: 1.8rem;
}

.top-left-container {
    margin-top: auto;
}

.top-left-image {
    margin-bottom: 2rem;

}

.top-left-image img,
.bottom-right-image img {
    width: 100%;
    height: 100%;
    border-radius: 10% 0% 10% 0%;
}

.bottom-right-image img {
    margin-top: 4rem;
}

.top-right-desc {
    color: white;
    font-size: 1rem;
    font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif !important;
    font-weight: 500;
    margin-bottom: 2rem;
}

.top-right-desc .desc-para {
    padding: 0.5rem 0.5rem 0.5rem 0rem;
    line-height: 1.5rem;

}

.bottom-title {
    font-size: 2rem;
    color: #dd3333;
    font-family: "Roboto Condensed", Helvetica, Arial, Verdana, sans-serif !important;
    padding: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 2.2rem;

}

.bottom-desc-title,
.top-desc-title {
    color: #dd3333;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Roboto Condensed", Helvetica, Arial, Verdana, sans-serif !important;

}

.bottom-left-desc {
    background-color: white;
    color: black;
    font-size: 1rem;
    font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif !important;
    font-weight: 500;
    margin-bottom: 2rem;
}
.bottom-right-image{
    margin-bottom: 1rem;
}
.desc-para {
    padding: 1rem;
}

/* Small devices (landscape phones, less than 768px,ipad) */
@media (max-width: 767.98px) {}

/* Medium devices (tablets, less than 992px,surface pro) */
@media (max-width: 991.98px) {
    .top-left-container {
        margin: auto;
    }
}

/* // Large devices (desktops=my laptop, less than 1200px) */
@media (max-width: 1199.98px) {}

/* X-Large devices (large desktops bigger than my laptop, less than 1400px) */
@media (max-width: 1399.98px) {}

/* ==================================={{END}}================================================= */