<div class="container-fluid main-aboutus-container">
    <div class="title-container">
        <div class="aboutus-heading">
            <mat-icon>info</mat-icon>&nbsp;&nbsp;About Us
        </div>
        <div class="aboutus-subtitle">
            Learn about our vision:Empowering minds,transforming lives.
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-6 top-left-container" style="margin-top: auto;">
                <div class="top-left-image" >
                    <img src="../../../assets/about1.png" alt="about 1">
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <div class="top-right-desc">
                    <div class="top-desc-title">
                        Our Vision
                      </div>
                    <div class="desc-para">
                        Welcome to Our Library, the ultimate destination for affordable online courses. We are dedicated to
                        providing high-quality courses at discounted prices, making education accessible to a wider
                        audience.
                    </div>
                   <div class="desc-para">
                    At Our Site, we understand the importance of continuous learning and personal development. Our goal
                    is to bridge the gap between knowledge and affordability, offering a vast collection of courses at
                    prices that won’t break the bank. We believe that everyone should have the opportunity to enhance
                    their skills and expand their knowledge, regardless of their budget.
                   </div>

                   <div class="desc-para">
                    Our platform features a diverse range of courses across various subjects, including business,
                    technology, arts, personal development, and more. These courses are carefully curated from reputable
                    sources and industry experts. We work directly with course providers to negotiate special discounts
                    and promotional offers, ensuring that our learners can access high-quality content at significantly
                    reduced prices.
                   </div>

                   

                </div>
            </div>
            </div>
           <div class="row">
            <div class="bottom-title">
                Unveiling Our Mission: Transforming Lives with Comprehensive Video Courses
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <div class="bottom-left-desc">
                    <div class="bottom-desc-title">
                      Our Mission
                    </div>
                    <div class="desc-para">
                        We are constantly working to expand our course offerings and negotiate new discounts to bring you the best value for your money. Our customer support team is readily available to assist you with any inquiries or concerns you may have. Your satisfaction is our top priority, and we are dedicated to providing a seamless and enjoyable learning experience.

                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-8 col-xl-8 col-xxl-8" style="margin: auto;">
                <div class="bottom-right-image" >
                    <img src="../../../assets/about2.png" alt="about 1">
                </div>
            </div>
        </div>
    </div>
</div>