 .main-login-form {
     background-color:black;
     margin: 1rem;
     padding: 1rem;
     border-radius: 1rem;
     text-align: center;
     margin: auto;
     width: 50%;
     margin-top: 10%;
 }

 .main-login-form h2 {
     color: white;
     margin-bottom: 3rem;
 }

 .admin-login-logo {
     width: 10;
     margin-bottom: 2rem;
     text-align: center;
     overflow-x: hidden;
 }

 .admin-login-btn {
     margin-top: 1rem;
     font-size: 40px;
 }
 .admin-login-btn .btn{
    background-color: #dd3333;
    width: 8rem;
    font-size: 1.5rem;
 }
 
 mat-form-field {
     width: 90%;
 }