<div class="container-fluid footer-container">
    <!-- To give the operation confirmation Msg -->
    <div class="alert alert-success d-flex align-items-center" role="alert" *ngIf="subscribeSuccMsg!=undefined">
        <svg style="fill: #042b03;" xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 512 512">
            <path
                d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z" />
        </svg>
        <div class="alert-msg">
            {{subscribeSuccMsg}}
        </div>
    </div>

    <!-- {{End}} -->
    <div class="container-fluid">
        <div class="top-footer">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="footer-logo">
                        <a routerLink="/"><img src="../../../assets/logo.svg"></a>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="newsletter-info">
                        <div class="newsletter-icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="newsletter-title">
                            SUBSCRIBE TO OUR NEWSLETTER
                        </div>
                        <div class="newsletter-subtitle">
                            Get all the latest information on Events, Sales and Offers.
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="newsletter-form">
                        <form [formGroup]="subscribedForm" (submit)="addSubscriber()">
                            <div>
                                <mat-form-field>
                                    <mat-label>Email</mat-label>
                                    <input type="email" matInput placeholder="Ex. pat@example.com"
                                        formControlName="email">
                                    <mat-error
                                        *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                        Please enter a valid email address
                                    </mat-error>
                                    <mat-error *ngIf="emailFormControl.hasError('required')">
                                        Email is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div>
                                <button mat-button class="subscribe-btn btn-disabled"
                                    [disabled]="subscribedForm.invalid">SUBSCRIBE <i
                                        class="fa fa-arrow-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="mid-footer">
            <div class="row">
                <div class="col-md-8 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="mid-left-contact-info">
                        <div class="mid-left-subtitle">
                            Got Question? Contact Us
                        </div>
                        <div class="mid-left-title">
                            Support@courseflix.io
                        </div>
                        <div class="mid-left-desc">
                            Welcome to Our Library, the ultimate destination for affordable online courses. We are dedicated to
                            providing high-quality courses at discounted prices, making education accessible to a wider
                            audience.
                        </div>
                        <div>Social Media</div>
                        <div class="social-media-icon">
                            <div class="facebook-icon"><i class="fa fa-facebook-f"></i></div>
                            <div class="instagram-icon"><i class="fa fa-instagram"></i></div>
                            <div class="twitter-icon"><i class="fa fa-twitter"></i></div>
                            <div class="reddit-icon"><i class="fa fa-reddit-alien"></i></div>
                            <div class="discord-icon"><i class="fa fa-discord"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 col-xl-2 col-xxl-2">
                    <div class="mid-title">COMPANY</div>
                    <div class="link">
                        <div><a [routerLink]="['/aboutus']" class="link">About Us</a></div>
                        <div><a routerLink="/faqs" class="link">FAQs</a></div>
                        <div><a routerLink="#nine-step-section" class="link">Contact Us</a></div>

                    </div>
                </div>
                <div class="col-md-6 col-lg-2 col-xl-2 col-xxl-2">
                    <div class="mid-title">MY ACCOUNT</div>
                    <div class="link">
                        <div><a [routerLink]="['/myorder',loggedInUserID]" class="link" *ngIf="loggedInUserID">My
                                Order</a></div>
                        <div><a [routerLink]="['/login']" class="link" *ngIf="!loggedInUserID">My Order</a></div>
                        <div><a [routerLink]="['/add-to-wishlist',loggedInUserID]" class="link"
                                *ngIf="loggedInUserID">My Wishlist</a></div>
                        <div><a [routerLink]="['/login']" class="link" *ngIf="!loggedInUserID">My Wishlist</a></div>
                        <div><a [routerLink]="['/login']" class="link" *ngIf="!loggedInUserID">Login/Register</a></div>


                    </div>

                </div>
                <div class="col-md-6 col-lg-2 col-xl-2 col-xxl-2">
                    <div class="mid-title">CUSTOMER SERVICE</div>
                    <div class="link">
                        <div><a [routerLink]="['/privacy-policy']" class="link">Privacy Policy</a></div>
                        <div><a [routerLink]="['/request']" class="link">Request</a></div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<div class="container-fluid bottom-footer">
    <div class="copyright">
        Copyright @ 2023 Courseflix. All Rights Reserved.
    </div>
    <!-- <div class="payment-mode">
        We'r using safe payment for 
    </div> -->
</div>