/* You can add global styles to this file, and also import other style files */


html,
body {
  font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif !important;
  width: 100%;
  overflow-x: hidden;
}

.modal-backdrop.show {
  opacity: 0;
}

.modal-backdrop {
  z-index: 0 !important;

}

.alert-msg {
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 600;
}

.btn-disabled:disabled {
  cursor: not-allowed !important;
  pointer-events: all !important;

}
.shop-pro{
  cursor: pointer;
}

 /* for loader  */
 .processing{
  color: white;
  font-weight: bold !important;
  font-family: 'Roboto Slab' !important;
  font-size: 1rem;
}
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.loader-spinner {
    width: 60px;
    height: 60px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #FF3A2D;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}