.main-new-course {
    padding: 1rem 0rem;
    text-align: center;
    color: white;
    font-weight: bolder;
}

.new-course-title {
    font-size: 2rem;
    padding-bottom: 1rem;
    position: relative;
    display: inline-block;
    margin-bottom: 2rem;
    line-height: 2.5rem;

}

.new-course-title::before {
    content: "";
    position: absolute;
    bottom: -2px;
    right: 50%;
    transform: translateX(50%);
    width: 40%;
    height: 3px;
    background-color: #FF3A2D;
}

.product-item {
    position: relative;
}

.main-pro-image {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.product-image-container {
    padding: 1rem;
}

.product-image-container:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 70%;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(47, 46, 46, 0);
}

.product-image-container:hover::before {
    background-color: rgba(100, 100, 100, 0.5);
}

.product-image-container img {
    display: block;
}

.product-image-container .view-pro {
    position: absolute;
    top: 35%;
    left: 40%;
    padding: 0.5rem 1rem 0.2rem 1rem;
    border-radius: 0.4rem;
    background-color: white;
    color: black;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0;
}

.product-image-container .shop-pro {
    position: absolute;
    top: 35%;
    left: 60%;
    padding: 0.5rem 1rem 0.2rem 1rem;
    border-radius: 0.4rem;
    background-color: white;
    color: black;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0;
}

.product-image-container .view-pro:hover {
    background-color: #e1474d;
    color: #eee;
}

.product-image-container .shop-pro:hover {
    background-color: #e1474d;
    color: #eee;
}

.product-image-container a mat-icon {
    font-size: 1.5rem;
}

.product-image-container:hover a {
    opacity: 1;
    vertical-align: middle;
}


.product-details {
    display: inline-flex;
    align-items: center;

}

.product-name a {
    text-decoration: none;
    float: left;
    padding: 2rem;
    color: #ffffff;
    font-size: 1rem;
    text-align: left;
}

.product-name a:hover {
    color: #e1474d;
}


.price-tag {
    background: #eee;
    color: black;
    font-size: 1rem;

    border-radius: 3px 0 0 3px;
    display: inline-block;
    height: 1.6rem;
    line-height: 26px;
    padding: 0 10px 0 22px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
}

.price-tag::before {
    background: #e1474d;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 13px;
    position: absolute;
    width: 6px;
    top: 10px;
}

.price-tag::after {
    background: black;
    border-bottom: 13px solid transparent;
    border-right: 14px solid #eee;
    border-top: 14px solid transparent;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
}

.price-tag:hover {
    color: #e1474d;
}

.browse-pro-container{
   text-align: center;
   margin-bottom: 1rem;
}
.btn-danger{
    font-weight: 500;
    font-size: large;
    border-radius: 0rem;

}
.btn-danger:hover{
background-color: white;
border-color: #e1474d solid 2rem;
color: black;
}